#overlay, #fixed{
	background-color: white;
	background: white;
}

#selected {
	
	border: 1px dashed green;
	background: rgba(255,255,255,0.8);
}

#vmname_entry{
	border: 0px solid black;
	background: rgba(255,255,255,0.5);
}