#overlay, #fixed{
	background-color: white;
	background: white;
}

#selected {

	border: 1px dashed green;
	background: rgba(255,255,255,0.8);
}

#processing{

	opacity: 0.3;
	border: 1px dashed green;
}

#normal{

	opacity: 1.0;
}

#vmname_entry{
	border: 0px solid black;
	background: rgba(255,255,255,0.5);
}

#powershell_output{

	background-color: #00003f;
	border: 0px solid black;
	font-family: "Courier New";
	font-size: small;
	color: white;
}

#powershell_input{
	background: #00003f;
	border-color:#00003f;
	font-family: "Courier New";
	font-size: small;
	color: white;
}
